.orange_section {
  color: orange;
  font-size:25px;
  font-family: century gothic;
  margin-left: 30px
}

.orange_section_paragraph {
  color: orange;
  font-size:20px;
  font-family: century gothic;
  margin-left: 30px
}

.welcome {
  text-align:center;
  color:pink;
  font-size:50px;
  font-family:century gothic;
}

.contact_header {
  text-align: center;
  color:pink;
  font-size: 50px;
  font-family:century gothic;
}

.about_header {
  text-align: center;
  color:pink;
  font-size: 50px;
  font-family:century gothic;
}

#navigation_bar {
  background-color: orange
}

.nav_link {
  padding: 10px
}

.nav_link:hover {
  background-color: darkorange
}
